<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" th:href="@{webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gallery</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/addPhotoPage">Add new photo</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/gallery">View gallery</a>
                &lt;!&ndash;Receiving an error when I try to reach /gallery page&ndash;&gt;
            </li>
        </ul>
    </div>
</nav>
<div class="d-flex bd-highlight">
    <div class="p-2 flex-fill bd-highlight">I will upload here my image + description + tags</div>
</div>-->

<nav>
    <div>
        <h2 style="text-align: center">Welcome to gallery</h2>
    </div>
</nav>
<section style="padding-top: 20px">
    <div style="text-align: center;">
        <p>View gallery: <a href="/gallery" style="text-decoration: none">Visit</a></p>
        <p>Add new photo to gallery: <a href="/addPhotoPage" style="text-decoration: none">Visit</a></p>
    </div>
</section>
</body>
</html>

