<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gallery</title>
</head>
<body style="background-color: #D3D3D3">
<nav>
    <div>
        <h2 style="text-align: center">Welcome to gallery</h2>
    </div>
</nav>
<section style="padding-top: 20px">
    <div style="text-align: center;">
        <p>View gallery: <a href="viewGallery.html" style="text-decoration: none">Visit</a></p>
        <p>Add new photo to gallery: <a href="addPhoto.html" style="text-decoration: none">Visit</a></p>
    </div>
</section>
</body>
</html>
<!-- TODO: create simple page containing title of web app + two links - one for "view gallery", other for "add photo" -->